@media screen and (width >= 769px) {
    .barra__opciones{
        display:flex;
        color: #fff;
    }
    .menu__hamburguesa{
        display:none;
    }

    .barra{
        display: grid;
        grid-template-columns: 2fr repeat(5, 1fr) 2fr ;
        grid-row: 10px;
        grid-area: 2 / 1 / 2 / 4;
        place-items: center;
        list-style: none;
        margin: 5px;
        font-family: "Roboto", sans-serif;
    }

    .boton__sing{ 
        background: rgba(250, 250, 250, 0.259);       
   color:white;
   border: none;
   display: flex;
   align-items: center;
   border-radius: 20px;
   font-size: 16px;
   letter-spacing: 1.25px;
   font-weight: bold;
   padding: 8px 16px;
    }
    .hero__phone{
        width: 400px;
    }
    .titulo__principal{ 
        font-size: 60px;
    }
    .parrafo1{
        margin: 20px 0;
    }
    .botones{
        margin: 25px 0;
    }
    .barra__opciones{
        font-size: 15px;       
        font-weight:600;
    }
    .fondo__diagonal{
        top:-160px;
    height: 420px;
    }
}

@media screen and (width>=551px){
    .hero__phone{
        display: flex;
        width: 250px;
    }
    .contenedor1{
        display: grid;
        grid-template-columns: 3fr 3fr;    
        place-items: center;
        margin:0 16px;
    }

    .lista__iconos{
        display: grid;
    grid-template-columns: repeat(4, 1fr);
    border-collapse: separate;
    list-style: none;
    grid-row-gap: 1em;
    }
    
}




