*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.fondo__diagonal{
    position: absolute;
    top:-120px;
    height: 300px;
    z-index: -1;
    width: 100%;
    background:linear-gradient(70deg, blue, pink);
    transform: skewY(-10deg);
}

.menu__mobile{
    width: 30px;
}

.imagen__skipe{
    margin: 10px ;
}

.menu__hamburguesa{
    grid-column: 8;
   
}

.menu__hamburguesa>button{
    background-color: rgba(250, 250, 250, 0.25);
    border-radius: 20px;
    width: 50px;
    border: transparent; 
    display: flex;
    flex-direction: column;
    justify-content:center ;
    align-items: center;
    padding: 5px 0;
}

.lineas{
    width: 18px;
    height: 2px;
    background-color: white;
    margin: 1px 0;   
}

.barra{
    display: grid;
    grid-template-columns: 2fr repeat(5, 1fr) 2fr 2fr;
    grid-row: 10px;
    grid-area: 2 / 1 / 2 / 4;
    place-items: center;
    list-style: none;
    margin: 5px;
}

.barra__opciones{
    display: none;    
}

.main{
    margin:15px;
    font-family: "Roboto", sans-serif;
}
.contenedor1{
    font-style: "Anek Telugu", sans-serif; 
    
}
.titulo__principal{ 
    font-size: 40px;
    margin: 0 5px;
}

.hero__phone{
    display: none;
}

.parrafo1{    
    font-size: 18px;
    margin: 5px;  
    line-height: 26px;  
}

.botones{
    column-count: 2;
    column-gap: 30px;
    display: flex;
    align-items: center;
    margin: 20px 0;
    border-spacing: 16px;       
}

.boton__start{
   background-color: #0a2540;
   color:white;
   border: none;
   display: flex;
   align-items: center;
   border-radius: 20px;
   font-size: 16px;
   letter-spacing: 1.25px;
   font-weight: bold;
   padding: 8px 16px;
}

.boton__contact{
    display: flex;
   background-color:white;
   color:#7000ff;
   border: none;
   align-items: center;
   border-radius: 20px;
   font-size: 16px;
   letter-spacing: 1.25px;
   font-weight: bold;
   padding-top: 16px;
   padding: 8px;
}

.iconos{
    width:100%;    
}

.lista__iconos{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border-collapse: separate;
    list-style: none;
    grid-row-gap: 1em;

}
